#divDeGauche{


    float: left;
    background-color: black;
    
}

#divDeDroite{
    float: right;
    background-color: red;
   
}

#divDuCentre{
    float: center;
}
#TitreRegionPlusImage{
    float: center;
}

#Tableau{
    border-top : 5px black;
    border-bottom: 6px black;
    background-color: black;
   
    border : 6px solid black;
}
th{
    border : 5px solid black;
}

*{
    color: red;
}