body {
    margin: auto;
    padding: auto;
}

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2E2928;
    width: 100%;
    height: 700px;
}

#centrerPage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#gauche
{   
    background-color: #2E2928;
    text-align: center;
    width: 350px;
    height:  700px;
}

#droite {
    display:flex;
    flex-direction: column;  
    align-items: center;
    background-color: maroon;
    width: 750px;
    height: 700px;
    margin:0;
}
#map{  
    background-color: white;
    width:700px;
    height:500px;
    margin-top:100px;
}

p {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}