canvas {
    width: 400px;
    height: 400px;
}

#chartDiv {
    width: 400px;
    height: 400px;
    top: -100%;
}

#ArcheoChart {
    width: 100%;
    height: 100%;
}

#ArcheoPie {
    width: 100%;
    height: 100%;
    position: relative;
    float: right
}

#pieDiv {
    width: 100%;
    height: 100%;
}

#graphContainer {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

#html {
    background-color: ghostwhite;
    float: right;
}